<div class="divide-y divide-black">
    <div>
        <a href="/countries" class="bg-gray-500">Volver al dashboard</a>
    </div>
    <form id="addCountryForm" action="" method="POST" class="divide-y divide-black">
            <div class="py-2">
            <% if (errors['nombre.oficial']) { %>
                <p class="text-red-800 font-bold"> ▼ <%= errors['nombre.oficial'] %></p>
                <label for="nombre.oficial" class="font-semibold">Nombre Oficial:</label>
                <input type="text" id="nombre.oficial" name="nombre.oficial" class="border text-red-500 font-bold" value="<%= oldData['nombre.oficial'] %>" required>
            <% } else { %>
                <label for="nombre.oficial" class="font-semibold">Nombre Oficial:</label>
                <input type="text" id="nombre.oficial" name="nombre.oficial" class="border" value="<%= oldData['nombre.oficial'] %>" required>
            <% } %>
        </div>
        <div class="py-2">
            <% if (errors['nombre.comun']) { %>
                <p class="text-red-800 font-bold"> ▼ <%= errors['nombre.comun'] %></p>
                <label for="nombre.comun" class="font-semibold">Nombre Común:</label>
                <input type="text" id="nombre.comun" name="nombre.comun" class="border text-red-500 font-bold" value="<%= oldData['nombre.comun'] %>" required>
            <% } else { %>
                <label for="nombre.comun" class="font-semibold">Nombre Común:</label>
                <input type="text" id="nombre.comun" name="nombre.comun" class="border" value="<%= oldData['nombre.comun'] %>" required>
            <% } %>
        </div>
        <div class="py-2">
            <% if (errors.capital) { %>
                <p class="text-red-800 font-bold"> ▼ <%= errors.capital %></p>
                <label for="capital" class="font-semibold text-red-700">Capital:</label>
                <input type="text" id="capital" name="capital" class="border text-red-500 font-bold" value="<%= oldData.capital %>" required>
            <% } else { %>
                <label for="capital" class="font-semibold">Capital:</label>
                <input type="text" id="capital" name="capital" class="border" value="<%= oldData.capital %>" required>
            <% } %>
        </div>
        <div class="py-2">
            <% if (errors['fronterasItem']) { %>
                <p class="text-red-800 font-bold"> ▼ <%= errors['fronterasItem'] %></p>
                <label for="fronteras" class="font-semibold text-red-700">Fronteras:</label>
            <% } else { %>
                <label for="fronteras" class="font-semibold">Fronteras:</label>
            <% } %>
            <% const fronteras = oldData.fronteras || [] %>
            <ul>
                <input type="text" id="fronteras" name="fronteras" class="border" placeholder="País Limítrofe 1" value="<%= fronteras[0] || '' %>" required>
                <input type="text" id="fronteras" name="fronteras" class="border" placeholder="País Limítrofe 2" value="<%= fronteras[1] || ''%>">
                <input type="text" id="fronteras" name="fronteras" class="border" placeholder="País Limítrofe 3" value="<%= fronteras[2] || ''%>">
                <input type="text" id="fronteras" name="fronteras" class="border" placeholder="País Limítrofe 4" value="<%= fronteras[3] || ''%>">
                <input type="text" id="fronteras" name="fronteras" class="border" placeholder="País Limítrofe 5" value="<%= fronteras[4] || ''%>">
            </ul>
        </div>
        <div class="py-2">
            <% if (errors.area) { %>
                <p class="text-red-800 font-bold"> ▼ <%= errors.area %></p>
                <label for="area" class="font-semibold text-red-700">Área:</label>
                <input type="float" id="area" name="area" class="border text-red-500 font-bold" value="<%= oldData.area %>" required>
            <% } else { %>
                <label for="area" class="font-semibold">Área:</label>
                <input type="float" id="area" name="area" class="border" value="<%= oldData.area %>" required>
            <% } %>
        </div>
        <div class="py-2">
            <% if (errors.poblacion) { %>
                <p class="text-red-800 font-bold"> ▼ <%= errors.poblacion %></p>
                <label for="poblacion" class="font-semibold text-red-700">Población:</label>
                <input type="number" id="poblacion" name="poblacion" class="border text-red-500 font-bold" value="<%= oldData.poblacion %>" required>
            <% } else { %>
                <label for="poblacion" class="font-semibold">Población:</label>
                <input type="number" min="0" id="poblacion" name="poblacion" class="border" value="<%= oldData.poblacion %>" required>
            <% } %>
        </div>
        <div class="py-2">
            <% if (errors.subregion) { %>
                <p class="text-red-800 font-bold"> ▼ <%= errors.subregion %></p>
                <label for="subregion" class="font-semibold text-red-700">Sub Región:</label>
                <input type="text" id="subregion" name="subregion" class="border text-red-500 font-bold" value="<%= oldData.subregion %>" required>
            <% } else { %>
                <label for="subregion" class="font-semibold">Sub Región:</label>
                <input type="text" id="subregion" name="subregion" class="border" value="<%= oldData.subregion %>" required>
            <% } %>
        </div>
        <div class="flex border py-2">
            <label for="utcOffset" class="font-semibold">Zona Horaria: UTC- </label>
            <input type="number" min="-12" max="12" id="utcOffset" class="border w-9" placeholder="00" value="<%= oldData.zonahoraria %>" required>
            <p> :00</p>
            <input type="hidden" id="zonahoraria" name="zonahoraria">
        </div>
        <button type="submit" class="bg-blue-500 font-bold">Añadir País</button>
</div>
<!-- Scripts auxiliares -->
<script>
    const form = document.getElementById('addCountryForm');
    form.addEventListener('submit', () => {
        //Limpiar campos vacíos del array de fronteras
        const arrayFields = ['fronteras[]'];
        arrayFields.forEach(fieldName => {
            const inputs = Array.from(form.querySelectorAll(`input[name="${fieldName}"]`));
            inputs.forEach(input => {
                if (!input.value.trim()) {
                    input.disabled = true;
                }
            });
        });
        //Dar Formato a ZonaHoraria
        const offset = Number(document.getElementById('utcOffset').value);
        const formattedOffset = String(Math.abs(offset)).padStart(2,'0');
        const finalTimeZone = `UTC${offset >= 0 ? '+' : '-'}${formattedOffset}:00`;
        console.log(finalTimeZone);
        document.getElementById('zonahoraria').value = finalTimeZone;
    });
</script>